/* Admin styles */
.admin-container i.fas.fa-2x.fa-pen-square {
    font-size: 25px;
    margin-right: 5px;
    transition-property: transform;
    transition-duration: 0.3s;
}
.admin-container i.fas.fa-2x.fa-pen-square:hover {
    transform: scale(1.2);
}
.admin-container i.fa.fa-trash {
    color: red;
    font-size: 22px;
    margin-left: 5px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.admin-container .table i.fa.fa-trash:hover {
    transform: scale(1.2);
}
.admin-container .delete-btn,
.admin-container .update-btn {
    display: contents;
}
.admin-container i {
    font-size: 25px;
}

.btn.btn-danger i.fa.fa-trash {
    color: white;
}

.font-1-2 {
    font-size: 1.2rem;
}

.admin-container .edit-info {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 400px;
    row-gap: 30px;
    margin-bottom: 40px;
}
.admin-container .edit-info .info {
    display: flex;
    align-items: center;
}
.admin-container .edit-info .info.image-info {
    flex-direction: column;
    align-items: start !important;
}
.admin-container .heading p {
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin: 40px 0;
}
.admin-container .edit-info .info .text-bold {
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}
.admin-container .edit-info .info p {
    margin-bottom: 0;
}
.admin-container .edit-info .input-info-p {
    grid-column-start: 1;
    grid-column-end: 3;
    color: #03a9f4;
    text-align: center;
    margin-bottom: 30px;
}

.admin-container .edit-info .info input {
    width: 250px;
}
.admin-container .edit-info .info select {
    width: 250px;
    padding: 5px 2px;
}

.admin-container .info.area-info {
    height: 150px;
    margin-bottom: 20px;
}

/* TinyMce Font-Family Listener */
span[style*="font-family: Nastaleeq;"] {
    direction: rtl;
}
